.caja-texto-blanco {
    width: 100%;
}

.label {
    color: rosybrown;
    font-weight: bold;
    font-size: 18px;
    display: table;
    margin: auto;
    padding: 10px, 10px, 10px, 10px;
}

.guardar {
    background-color: rosybrown;
    color: aliceblue;
    font-size: 16px;
    padding: 10px, 10px, 10px, 10px;
}

.center {
    text-align: center;
}