<div class="">
    <div class="">
        <div>
            <table>
                <th style="width: 3rem;"></th>
                <th>
                    <div class="">
                        Nombre
                    </div>
                    <div class="">
                        ApellidoPaterno
                    </div>
                    <div class="">
                        ApellidoMaterno
                    </div>
                    <div class="">
                        RFC
                    </div>
                    <div class="">
                        Telefono
                    </div>
                </th>
            </table>
            <tbody *ngFor="let item of empleado">
                <tr>
                    <td>
                    </td>
                    <td>
                        {{ item.Nombre }}
                    </td>
                    <td>
                        {{ item.ApellidoPaterno }}
                    </td>
                    <td>
                        {{ item.ApellidoMaterno }}
                    </td>
                    <td>
                        {{ item.RFC}}
                    </td>
                    <td>
                        {{ item.Telefono}}
                    </td>
                </tr>
            </tbody>
        </div>
    </div>
</div>